# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
#!*.yaml
#!.gitignore
#!*.md
#!custom_components
#!www
#!lovelace


# Ignore folders.
.storage
.cloud
.cloud_back
.storage_back
.uuid
.google.token
.idea
.spotify-token-cache
node-red
deps
.HA_VERSION
tts
themes
ssh/
__pycache__/
# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.pem
*.log
*.db

